#list-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 

ul.list-unstyled{
    background-color: white;
    width: 400px;
    padding : 20px;
}